<!DOCTYPE html>
<html>

<head>
    <title>StudyHub Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <header>
        StudyHub 🧠
    </header>

 <div class="container">
    <h1>Welcome to StudyHub 🚀</h1>

    {% if user.is_authenticated %}
    <p>Hello, {{ user.username }}!</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <p>Welcome, guest!</p>
    <a href="{% url 'login' %}">Login</a> |
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
  </div>
  
    <footer>
        © 2025 StudyHub — Learn. Grow. Succeed.
    </footer>

</body>

</html>
